<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bye"
        version="0.1.0">

  <name>Cordova Bye Plugin</name>
  <description>Cordova plugin to show bye before quit app</description>
  <author>Raymond Xie</author>
  <keywords>rjfun,admob,google,ad</keywords>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0" />
    <engine name="cordova-android" version=">=5.0.0" />
  </engines>

  <js-module src="www/byeplugin.js" name="byeplugin">
    <clobbers target="window.byeplugin" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="byeplugin">
        <param name="android-package" value="com.rjfun.cordova.byeplugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/ByePlugin.java" target-dir="src/com/rjfun/cordova/byeplugin" />

    <resource-file src="src/android/res/layout/bye_layout.xml" target="res/layout/bye_layout.xml" />
    <resource-file src="src/android/res/layout-v16/bye_layout.xml" target="res/layout-v16/bye_layout.xml" />
    <resource-file src="src/android/res/values/ids.xml" target="res/values/ids.xml" />

    <framework src="com.android.support:support-v4:+" />
    <framework src="src/android/android-support.gradle" custom="true" type="gradleReference" />
  </platform>

</plugin>
